$base-padding: 12px;
$color-background-grey: #eee;
$color-dark-blue: #2C3E50;
$color-link-blue: #1ca1d2;
$color-green: #3fd920;
$color-teal: #10855f;
$color-light-text: #767676;
$color-dark-brown: #241c18;

$font-size-small: 0.875em;
$font-size-large: 1.6em;
$font-size-medium: 1.25em;

$transition: cubic-bezier(0.62, 0.28, 0.23, 0.99);